.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* БЛОК HEADER */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  display: inline;
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

/* БЛОК DESCRIPTION */
.description {
  display: flex;
}

.two-columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

.two-columns__brief {
  margin: 0;
  color:  #2f80ed;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-colunms__span-accent {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin: 30px 0 30px 0;
}

/* БЛОК DIGITS */

.digits {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

.digits__section-title_indent_top {
  margin-bottom: 20px;
}

.table {
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto 100px auto;
}

.table__cell {
  width: 250px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__cell_indent_top {
  margin-top: 60px;
}

.table__text_indent_top {
  margin-top: 20px;
}

/* БЛОК FEYNMAN */

.feynman {
  min-height: 900px;
  background-color:  #f2f2f2;
  background-image: url('../images/feynman.png');
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__title_indent_top {
  margin: 100px 0 70px 0;
}

/* БЛОК KAUFMAN */

.kaufman {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  color: white;
  margin: 90px 0 20px 0;
}

.section-subtitle_theme_dark {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
  color: white;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__text_theme_dark {
  margin-top: 20px;
}

.kaufman__traingle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
}

/* БЛОК FOOTER */

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto 40px auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author_content_copyright {
  margin: 18px 0 18px 0;
}

.footer__column-heading {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.column__links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}